{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Immfly!</title>
    {% block styles %}
    {% endblock %}
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Immfly</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'channel' %}" class="nav-link">Home</a></li>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>


<script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'app/js/axios.min.js' %}"></script>
<script src="{% static 'app/js/jquery-3.6.0.min.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
