{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4 text-center" id="channelTitle">Channels</h1>
    <div class="row gy-4">
        <div class="col-12">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">🔎</span>
                <input type="text" id="searchByGroup" class="form-control" placeholder="Search by group">
            </div>
        </div>
        <div class="col">
            <div class="list-group" id="channels">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
      let loadingHtml = `
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        `;

      function setParent() {
        let elemTitle = $("#channelTitle");

        {% if parent %}
          let url = `{% url 'api:channel-detail' parent %}`;
          axios
            .get(url)
            .then(({data}) => {
              elemTitle.text(data.title)
            })
            .catch(err => elemTitle.text(err.toString()))
        {% endif %}
      }

      function getChannels(group = "") {
        let elemChannels = $("#channels");
        elemChannels.html(loadingHtml)

        let url = `{% url 'api:channel-list' %}?group=${group}&parent={{ parent }}`;

        axios
          .get(url)
          .then(({data}) => {
            let html = data.map(each => {
              let groups = each.groups.map(grp => `<span class="badge bg-primary">${grp.name}</span>`).join("")
              let nextUrl;
              if (each.type === "SUB") {
                nextUrl = `{% url 'channel' %}?parent=${each.uuid}`
              } else {
                nextUrl = `{% url 'content' %}?channel=${each.uuid}`
              }
              return `
              <a href="${nextUrl}" class="list-group-item list-group-item-action" aria-current="true">
                <img src="${each.picture}" alt="" width="100" height="100">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">${each.title}</h5>
                  <span class="badge bg-success rounded-pill">${groups}</span>
                </div>
                <small>${each.language}</small>
              </a>
              `
            }).join(" ")
            elemChannels.html(html)
          })
          .catch(err => elemChannels.html(err.toString()))

        setParent();
      }

      $("#searchByGroup").keypress((e) => {
        if (e.keyCode !== 13) return;
        getChannels(e.target.value)
      })

      getChannels()
    </script>
{% endblock %}
