{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4 text-center">Contents</h1>
    <div class="row gy-4">
        <div class="col">
            <div class="list-group" id="contents">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
      let loadingHtml = `
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        `;

      function getContents() {
        let elemContents = $("#contents");
        elemContents.html(loadingHtml)

        let url = `{% url 'api:content-list' %}?channel={{ channel }}`;

        axios
          .get(url)
          .then(({data}) => {
            let html = data.map(each => {
              let nextUrl = `{% url 'content-detail' %}?uuid=${each.uuid}`
              return `
              <a href="${nextUrl}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">${each.name}</h5>
                  <span class="badge bg-primary rounded-pill">${each.rating}/10</span>
                </div>
              </a>
              `
            }).join(" ")
            elemContents.html(html)
          })
          .catch(err => elemContents.html(err.toString()))
      }

      getContents()
    </script>
{% endblock %}
