{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4 text-center">Content Detail</h1>
    <div class="row gy-4">
        <div class="col" id="content">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
      let loadingHtml = `
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        `;

      function getContent() {
        let elemContents = $("#content");
        elemContents.html(loadingHtml)

        let url = `{% url 'api:content-detail' uuid %}`;

        axios
          .get(url)
          .then(({data}) => {
            let metadata = ""
            for (let key in data.metadata) {
              if (data.metadata.hasOwnProperty(key)) {
                metadata += `<li class="list-group-item"><b>${key}:</b> ${data.metadata[key]}</li>`
              }
            }
            let html = `
                <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title">${data.name}</h5>
                    <p class="card-text">${data.rating}/10</p>
                  </div>
                  <ul class="list-group list-group-flush">${metadata}</ul>
                  <div class="card-body">
                    <a href="${data.file}" class="card-link">File</a>
                  </div>
                </div>
              `
            elemContents.html(html)
          })
          .catch(err => elemContents.html(err.toString()))
      }

      getContent()
    </script>
{% endblock %}
